#acordeon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.lacartita {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
  margin-bottom: 150px;
}

/* Estilos para el acordeón */
#acordeon {
  width: 500px;
}

/* .yo {
  background: #d3d3d3;
} */
